.odd {
    background-color: rgba(250,150,150,100%);
    font-family: "Verdana", 'DejaVu Sans', sanserif;
}

#two {
    color: rgb(0,0,250);
    font-size: 36px;
}

.odd.cooler, #four {
    font-size: 24px;
}

#four {
    background-color: rgb(150,250,150);
    font-weight: bold;
}