.shared {
    font-size: 28px;
    font-family: "Helvetica", "Times New Roman", sans-serif;
}

#click {
    background-color: rgb(0,0,0);
    color: #ffffff;
    font-weight: 600;
}

#noclick {
    background-color: rgb(250,250,10);
}