body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title,
.content,
.button-container {
  padding: 10px;
  background-color: #e3f4ff;
}

.title {
  font-size: 16px;
}


.content {
  margin-bottom: 16px;
  padding: 16px 10px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
}